html {
    background: url(images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: antiquewhite;

    font-family: 'Open Sans', sans-serif;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.content {
    background-color: rgba(0,0,0,0.7);
    padding: 1%;
}

.button {
    width: 30%;
    border: white thin solid;
    margin-left: 10px;
    text-align: center;
}


.row {
    display: flex;
}
